body {
	background-image: linear-gradient(to right, #005C97, #363795);
	color: white;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	padding: 0 24px;
	text-align: center;
}

span {
	font-size: 40px;
}

span,
p {
	font-family: 'Raleway', sans-serif;
	letter-spacing: 3px;
}

h1 {
	font-family: 'Courgette', cursive;
	font-size: 100px;
	letter-spacing: 6px;
	margin: 70px auto;
	position: relative;
	text-transform: uppercase;
	width: fit-content;
}

h1::after {
	bottom: 0;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	width: 100%;
}

h1 span {
	border: 1px solid #11998e;
	margin-right: 8px;
	padding: 10px 10px 0;
}

p {
	font-size: 55px;
	margin: 0;
}

@media screen and (min-width: 600px) {
	span {
		font-size: 25px;
	}

	h1 {
		font-size: 80px;
		margin: 35px auto;
	}

	p {
		font-size: 45px;
	}

}