
* {
	padding: 0;
	margin: 0;
}

body {
	background-image: linear-gradient(to right, #005C97, #363795);
	color: white;
	text-align: center;
}

header {
	align-items: center;
	background: orange;
	display: flex;
	height: 65px;
	justify-content: space-between;
	padding: 0 24px;
}

header::after {
	background-image: linear-gradient(to right, #005C97, #363795);;
}

.shopping-cart {
	height: 25px;
	width: 25px;
}

@media screen and (min-width: 600px) {

}